{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="text-center">Recettes de saison</h1>
        <h5 class="text-center">{{targetSaison.nom}}</h5>
        {% for recettes in recette %}
            {% if (recettes.saison.id == targetSaison.id) %}
                <a href="/recettes/{{recettes.id}}"><p>{{recettes.nom}}</p></a>
            {% endif %}
            {% endfor %}
       {% endblock %}
