{% extends 'base.html.twig' %}

{% block title %}Ajouter un ingredient {% endblock %}

{% block body %}
    <div class="container mt-5 ">
        <h1>Ajouter un ingredient</h1>

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'ingredient'}}) }}
            </div>

            <button class="btn" type="submit" style="background-color: #cf4727; border-color: #cf4727;">Ajouter l'ingredient</button>
            
        {{ form_end(form) }}
    </div>
{% endblock %}