{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Toutes les recettes</h1>

    </div>
{% endblock %}
