{% extends 'base.html.twig' %}

{% block title %}Recettes Bistroquet{% endblock %}

{% block body %}

    <div class="container mb-5 row">
        <h1>Toutes les recettes</h1>
        {% for recette in recettes %}
                <div class="col">
                    <div class="card p-2 align-center">
                        
                        <img src="{{ recette.image }}" alt="" class="height100">
                        <a href="/recettes/{{recette.id}}"><h3>{{ recette.nom }}</h3></a>
                        <p>{{ averageNotes[recette.id]|number_format(1) }}</p>  
                        <span class="toques-container">
                            {% set note = averageNotes[recette.id] %}
                                {% for i in 1..5 %}
                                    {% if i <= note %}
                                       <!-- Afficher la toque pleine -->
                                        <svg class="toque-svg" viewBox="0 0 132.29167 132.29167" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m 41.941905,70.665874 1.759856,30.377296 h 41.943187 l 2.053163,-31.326583 c 0,0 19.850129,-1.848611 16.425309,-20.567965 C 101.35693,34.02761 80.248393,36.046995 80.248393,36.046995 c 0,0 -1.601431,-15.210223 -14.508909,-15.796617 -3.047555,-0.138452 -5.603464,0.828408 -7.717398,2.335283 -6.018121,4.289895 -8.454148,12.956467 -8.454148,12.956467 0,0 -23.825908,-2.910225 -24.051336,15.505074 -0.197572,16.139636 16.425303,19.618672 16.425303,19.618672 z" fill="#333333"/>
                                            </svg>
                                    {% elseif i <= note + 0.5 %}
                                        <!-- Afficher la toque demi -->
                                        <svg class="toque-svg" viewBox="0 0 132.29167 132.29167" xmlns="http://www.w3.org/2000/svg"><path
                                                    d="m 56.419812,20.540865 c -6.279273,3.322328 -7.909991,10.040529 -8.666138,12.418364 -2.068135,-0.149265 -5.971604,-0.297036 -10.915612,1.003556 -3.280424,0.86296 -6.711924,2.381277 -9.404594,5.135087 -2.692673,2.753811 -4.501635,6.762238 -4.56458,11.904183 -0.109285,8.927479 4.62188,14.733074 9.203573,17.935339 3.089528,2.159352 5.629452,3.071358 7.326168,3.58221 l 1.796789,31.001726 h 0.152963 l 0.001,0.0139 h 46.629195 l 2.079977,-31.732428 c 1.962803,-0.352518 4.944272,-1.066212 8.447029,-3.23081 5.121955,-3.165209 9.937195,-9.660204 8.068755,-19.872689 -0.79438,-4.341857 -3.00947,-7.648449 -5.76967,-9.906372 -2.7602,-2.257924 -6.004836,-3.532241 -9.060429,-4.28501 -4.152592,-1.023023 -7.350714,-1.063884 -9.441284,-1.002006 -0.35586,-1.637023 -0.967942,-3.807987 -2.256193,-6.287471 -2.059548,-3.964056 -6.0918,-8.14214 -12.402344,-9.121924 -4.370144,-0.1154 -6.098934,-0.267686 -11.224638,2.444295 z m 11.224638,2.30787 c 3.151667,0.657055 6.038186,2.933688 7.978841,6.668843 1.768534,3.403879 2.146122,6.7908 2.146122,6.7908 l 0.257866,2.455147 2.459281,-0.236161 c 0,0 4.931381,-0.444862 10.066052,0.820105 2.567337,0.632483 5.119975,1.686961 7.095691,3.303158 1.975717,1.616194 3.434657,3.728244 4.023527,6.946862 1.55637,8.506796 -1.840338,12.295434 -5.787243,14.734502 -3.946906,2.439067 -8.417574,2.902148 -8.417574,2.902148 l -2.117184,0.197404 -2.039152,31.119031 H 67.64445 Z" fill="#333333" /><path /></svg>
                        
                                    {% else %}
                                    <!-- Afficher la toque vide -->
                                        <svg class="toque-svg" viewBox="0 0 132.29167 132.29167" xmlns="http://www.w3.org/2000/svg"><path
                                                style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:4.98493;stroke-dasharray:none;stroke-opacity:1"
                                                d="m 41.941905,70.665874 1.759856,30.377296 h 41.943187 l 2.053163,-31.326583 c 0,0 19.850129,-1.848611 16.425309,-20.567965 C 101.35693,34.02761 80.248393,36.046995 80.248393,36.046995 c 0,0 -1.601431,-15.210224 -14.508909,-15.796617 -11.723586,-0.532609 -16.171546,15.29175 -16.171546,15.29175 0,0 -23.825908,-2.910225 -24.051336,15.505074 -0.197572,16.139636 16.425303,19.618672 16.425303,19.618672 z"/></g></svg>

                                    {% endif %}
                                {% endfor %}
                            </span>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
