{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Tarif {{budgetName}}</h1>
    {% for recettes in targetRecette %}
            <p>{{recettes.nom}}</p>
    {% endfor %}
{% endblock %}
