{% extends 'base.html.twig' %}

{% block title %}Mon profil Bistroquet{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bonjour ! </h1>
        <div>
            <h2>Mes recettes</h2>
            <table>

        <div>
            <h2>Mes recettes</h2>
            <table>
                {% for user in users %}
                    <tr>
                        <td>{{ recette.nom }}</td><td> | </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h2>Mes recettes favorites</h2>
            <table>
                {% for user in users %}
                    <tr>
                        <td>{{ favoris.recette }}</td><td> | </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
