body {
    background-color: black;
}
#searchNavbar{
    display: none;
}

@media screen and (min-width:576px){
    #searchNavbar{
        display: block;
    }
    #logo{
        margin:0% 10%;
    }
    #searchCollapse{
        display: none;
    }
}
@media screen and (min-width:992px){
    #searchNavbar{
        width: 25rem;
    }
}