body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

body a {
    text-decoration: none;
    color: #333333;
}

body a:hover {
    color: #cf4727;
    transition: opacity 0.3s ease;
}

.align-center {
    text-align: center;
}

/******************************************************************/
/**                           NAVBAR                             **/
/******************************************************************/
#searchNavbar{
    display: none;
}

#navbar{
    background-color: rgb(250, 248, 244);
}

#navigationToggle > div{
    border-right:solid 1px grey ;
    padding-right: 5%;
    
}




/******************************************************************/
/**                           FOOTER                             **/
/******************************************************************/

footer {
    background-color: rgb(9, 13, 34);
    color: #fff;
    padding: 2em;
    margin-top: auto;
}

.marge {

    justify-content: space-between;
    margin-top: 2em;
}

footer a {
    color: white; /* Couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement */
    transition: opacity 0.3s ease; /* Transition douce pour l'effet hover */
}

footer a:hover {
    color: #f7bb8b;
}

footer ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0;
    margin: 0;
    display: flex; /* Aligne les éléments horizontalement */
}

footer ul li {
    margin-right: 20px; /* Espace entre les éléments de la liste */
}

footer p {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
}

/******************************************************************/
/**                       RESPONSIVE                             **/
/******************************************************************/

@media screen and (min-width:576px){
    #searchNavbar{
        display: block;
    }
    #logo{
        margin:0% 10%;
    }
    #searchCollapse{
        display: none;
    }
}
@media screen and (min-width:992px){
    #searchNavbar{
        width: 25rem;
    }
}