<footer>
  <div class="container footer" id="footer">
        <div>
          <p>&copy; {{ "now"|date("Y") }} Bistroquet | Tous droits réservés</p>
        </div>
    
        <div>
          <ul>
              <li><a href="/register">S'inscrire</a></li>
              <li><a href="/login">Se connecter</a></li>
          </ul>
        </div>
    
  </div>
</footer>