{% extends 'base.html.twig' %}

{% block title %}Ajouter un Tag{% endblock %}

{% block body %}
    <h1>Ajouter un Tag</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Ajouter le Tag</button>
    {{ form_end(form) }}
{% endblock %}
