{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="text-center mt-3">Recettes par Catégories</h1>
        <div class="container d-flex justify-content-center mt-5" style="min-height:30em">
        {% for cat in categorie %}
            {% if cat.nom == 'Saison' %}
            <div>
                <a href="saison/" ><p class="me-5">{{cat.nom}}</p></a>
            </div> 
            {% else %}
            <div>
                <a href="categorie/{{cat.id}}" ><p class="me-5">{{cat.nom}}</p></a>
            </div> 
            {% endif %} 
        {% endfor %}
        </div>
{% endblock %}

